/*=======Media query max-width 860px=======*/
@media screen and (max-width: 860px) {
  /* Home */
  .home-img {
    width: 300px;
    height: 300px;
  }
}

/*=======Media query max-width 780px=======*/
.bouncing-letters span {
  font-size: 2.7rem;
}

/*=======Media query max-width 730px=======*/
@media screen and (max-width: 730px) {
  /*=======Common styles for all sections=======*/
  body {
    margin: 5rem 0 0 0;
  }

  .section-title-01 {
    font-size: 3em;
  }

  .section-title-02 {
    font-size: 2em;
    transform: translateY(-65px);
  }

  /*=======Home section=======*/
  .home .home-container {
    display: grid;
  }

  .home-container .home-img {
    width: 250px;
    height: 250px;
  }

  .home-container .home-img {
    position: relative;
    top: -520px;
    left: 80px;
  }

  .home .scroll-down {
    position: absolute;
    -webkit-transform: translateY(150px);
    transform: translateY(170px);
  }

  .media-icons {
    margin-bottom: 80px;
  }

  /*=======Get-in-touch section=======*/
  .get-in-touch .contact-card {
    display: grid;
  }

  .contact-card .title {
    font-size: 0.6rem;
    line-height: 40px;
  }

  .contact-card .contact-btn .btn {
    font-size: 0.8rem;
  }
}

/* ============  For small devices ============ */
/*=======Media query max-width 430px=======*/
@media screen and (max-width: 430px) {
  .home-container .home-img .imgBx {
    width: 230px;
    height: 230px;
  }

  .bouncing-letters span {
    font-size: 3rem;
  }
}

/*=======Media query max-width 400px=======*/
@media screen and (max-width: 400px) {
  .bouncing-letters span {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 380px) {
  .home-container .home-img .imgBx {
    width: 220px;
    height: 220px;
  }
  .bouncing-letters span {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 330px) {
  .home-container .home-img .imgBx {
    width: 200px;
    height: 200px;
  }
  .bouncing-letters span {
    font-size: 2.2rem;
  }
}
